body {
  background-image: url("https://img.freepik.com/premium-photo/white-cloth-texture-background-abstract-white-background_9635-4079.jpg?w=1380");
  background-size: cover;
  margin: 250px 580px;
}
